.navbar{
    background-color: #3498db;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    
}

.logo{
    margin:10px 0 10px 50px;
    
}
.navbar-links{
    display: flex;
    margin-right:150px;
}
.navbar-links *{
    font-size: 20px;
    color:#ffffff;
    text-decoration: none;
    margin: 30px;
}

.navbar-links p:hover{
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-links p {
        margin: 10px;
      font-size: 14px; /* Decrease font size for smaller screens */
    }
    .logo{
        height: 50px;
        width:100px;
        margin:5px 0 5px 20px;
    }

    .navbar-links{
        margin-right:20px;
    }
}
