.event-detail-text{
    font-size: 30px;
    width: 300px;
    padding: 10px;
}
.event-details th{
    font-size: 20px;
    width: 300px;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
}

.event-details td input{
    height: 25px;
    width: 300px;
    border: none;
    font-size: 23px;
    margin-left: 20px;
    text-decoration: none;
    outline: none;
}

.event-details td input:focus{
    cursor: text;
}

.mt-4 button{
    background-color:green;
    color: white;
    height: 40px;
    width: 150px;
    border: none;
    margin-left: 250px;
    border-radius: 20px;
    margin-top: 30px;
}
.user_dropdown{
    height: 45px;
}
/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .event-detail-text {
        font-size: 18px;
    }

    .event-details th {
        font-size: 16px;
    }

    .event-details td input {
        font-size: 18px;
    }

    .mt-4 button {
        margin-top: 15px;
    }
    .user_dropdown{
        height: 40px;
        font-size: 15px;
    }
}

/* Media query for screens smaller than 400px */
@media (max-width: 400px) {
    .event-detail-text {
        font-size: 16px;
    }

    .event-details th {
        font-size: 14px;
    }

    .event-details td input {
        font-size: 16px;
    }

    .mt-4 button {
        margin-top: 10px;
    }
}